
mixin modal() 
	//  start modals
	div(id="modal-delete"  style="display: none" )
		+b.modal-win
			.h4 Вы действительно хотите удалить?
			p Это действие будет выполнено безвозвратно.
			.row
				.col-md: +e.btn.btn.btn-accent(href='#') Отмена
				.col-md: +e.btn.btn.btn-light(href='#') Удалить

	// #modal-delete

	div(id="modal-dublicate"  style="display: none" )
		+b.modal-win
			.h4 Подтвердите дубликат
			p Выберите вложенные разделы которые также нужно дублировать.
			+e.inputs-row.row
				.col-6: +in-c('checkbox', 'Дома', 'dublicate')
				.col-6: +in-c('checkbox', 'Квартиры', 'dublicate')
				.col-6: +in-c('checkbox', 'Подъезды', 'dublicate')
				.col-6: +in-c('checkbox', 'Помещения', 'dublicate')
				.col-6: +in-c('checkbox', 'Этажи', 'dublicate')
				.col-6: +in-c('checkbox', 'Задачи', 'dublicate')
			.row
				.col-md: +e.btn.btn.btn-accent(href='#') Отмена
				.col-md: +e.btn.btn.btn-light(href='#') Подтвердить

	// #modal-dublicate
	
	// end modals