.pixel-perfect {
	top: 0;
	display: block;
	@include a-cent(x);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
	// height: 2000px;
}

body,
html {
	font-size: var(--bs-body-font-size);
}
html {
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(33, 36, 41, 0);
	// margin-right: calc(-1 * (100vw - 100%));
}

body {
	&[class*="fixed"],
	&.fancybox-active {
		.header {
			padding-right: var(--spacing-end);
		}
		margin-right: var(--spacing-end);
	}
	// min-width: 575px;
	// -webkit-font-smoothing: antialiased;
	// position: relative;
	// overflow-x: hidden;

	&.loaded_hiding {
		@include mt;

		opacity: 0;
		pointer-events: none;

		&::before {
			display: none;
		}
	}

	&.loaded {
		pointer-events: visible;
		opacity: 1;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: $body-color;
		background-color: rgba($body-color, 0.8);
		backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		// left: 200px;
		left: 0;
		// opacity: 1;
		// z-index: 1;
		top: 0;
	}

	&.fancybox-active {
		overflow: hidden;
	}
	&[class*="fixed"] {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;
		touch-action: none;
		-webkit-overflow-scrolling: none;
		overflow: hidden;
		/* Other browsers */
		overscroll-behavior: none;

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

.main-wrapper {
	position: relative;
	width: 100%;
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}
}
main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	min-height: 100vh;
	padding-bottom: calc(rem(24) + rem(48));
	padding-top: rem(48);
	@include media-breakpoint-up(md) {
		padding-bottom: 0;
		padding-top: 0;
	}
}
aside {
	background-color: #fff;
	@include media-breakpoint-down(md) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 100;
	} 
	@include media-breakpoint-up(md) {
		height: 100vh;
		position: sticky;
		left: 0;
		top: 0;
		flex: 0 0 var(--asideW);
		background-color: $gray-800;
	}
}
.main-center-wrap {
	flex-grow: 1;
	overflow: hidden;
	position: relative;
}

.page-with-control-bar {
	main  {
		padding-bottom: calc(rem(96) + rem(24));
		@include media-breakpoint-up(md) {
			padding-bottom: calc(rem(72) + rem(24));
		}
	}
}
// .main-wrapper__inner{
// 	// overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	min-width: 0;
// 	min-height: 100vh;
// 	flex-grow: 1;
// }

.section {
	@include bgs;
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
}

.section-title {
	margin-bottom: var(--sTPB);
}

.mono {
	font-family: $font-family-code;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}
.fw-400 {
	font-weight: 400;
}

.fw-900 {
	font-weight: 900;
}
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}
.fw-100 {
	font-weight: 100;
}

.row--sm {
	--bg-gutter-x: #{rem(20)};
}

.slick-slide img {
	display: inline;
}

.image-source-link {
	color: #98c3d1;
}

.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;
	&.l {
		left: 0;
		svg {
			transform: transform(rotateY(180deg));
		}
	}
	&.r {
		right: 0;
	}
	svg {
		width: 17px;
		height: auto;
	}
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	// width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

.tabs__btn-accordion {
	// display: none;
	width: 100%;
}
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

		&.active {
		}
	}

	&__content {
		// opacity: 0;
		// @include mt;
		&.active {
			display: block;
			// opacity: 1;
		}

		display: none;
	}
}

.invisible {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: var(--swiperArrowSize);
	height: var(--swiperArrowSize);
	border-radius: 50%;
	background-color: var(--swiperBgDef);
	border: 2px solid var(--swiperBorderColorDef);
	color: var(--swiperColorDef);
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	box-shadow: 0 15px 60px rgba(0, 0, 0, 0.1);
	@include mt;
	user-select: none;

	&:hover {
		background-color: var(--swiperBgDefHover);
		border-color: var(--swiperBorderColorDefHover);
		color: var(--swiperColorDefHover);
	}

	.icon {
		font-size: rem(12);
	}

	&::after {
		display: none;
	}
	&-next {
		right: var(--swiperArrowPosition);
	}

	&-prev {
		left: var(--swiperArrowPosition);
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #e6e6e6;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);
		display: inline-block;

		&-active,
		&:hover {
			background-color: var(--bs-accent);
		}
	}
}

@include media-breakpoint-up(lg) {
	.wow {
		visibility: hidden;
	}
}

img {
	// content-visibility: auto;
}
picture {
	display: block;
	img {
		@extend .res-i;
	}
}

img.object-fit-js {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}

img.img-bg,
.object-fit-js img {
	object-fit: cover;
	object-position: top;
}

a {
	@include mt;
}

img.img-bg,
.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.object-fit-js {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.bg-wrap {
	position: relative;
	z-index: 2;
}

// .pagination-wrapper li

.browsehappy {
	position: absolute;
	// position: fixed;
	width: 100%;
	z-index: 2000;
	background: #000;
	min-height: 100px;
	font-size: 10px;
	color: #ffffff;
	top: 0;
	padding-top: 30px;
}

iframe {
	border: none;
}

// *::selection {
// 	color: #fff;
// 	/* Цвет текста */
// 	background: var(--bs-primary) ;
// 	/* Цвет фона */
// }

.custom-scroll {
	/* ===== Scrollbar CSS ===== */
	/* Firefox */
	--bs-primary: #dedede;

	& {
		scrollbar-width: auto;
		scrollbar-color: var(--bs-primary) transparent;
	}

	/* Chrome, Edge, and Safari */
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--bs-primary);
		border-radius: 16px;
		border: 0px solid transparent;
	}
}

::-webkit-calendar-picker-indicator {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 24 24'><path fill='#{$primary}' d='M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z'/></svg>");
}

.swiper-wrapper {
	// @include row-sw(10px, sm, 100px);
}

// .btn-outline-light,
// .btn-outline-primary{
// 	--bs-btn-color: #{$body-color};
// }

.form-control,
.form-select {
	box-shadow: none !important;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none !important;
}

.form-switch,
.form-check-input,
.form-check {
	cursor: pointer;
}

.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
	img.object-fit-js {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.ratiod {
	@include block(2, 3);
	background-color: $primary;
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: rem(14);
	@include media-breakpoint-up(xxl) {
		font-size: rem(16);
	}
}

.tooltip {
	.tooltip-arrow {
		display: none;
	}
}

.bs-tooltip-auto[data-popper-placement^="right"] {
	left: rem(12) !important;
}

.container-fluid {
	--bs-gutter-x: #{rem(24)};
	@include media-breakpoint-up(md) {
		--bs-gutter-x: #{rem(96)};
	}
}

.freeMode-slider--js{
	overflow: visible;
	@include media-breakpoint-down(md) {
		max-width: max-content;
	}
}
.breadcrumb {
	padding-left: 0;
	flex-wrap: nowrap;
	align-items: center;
	@include media-breakpoint-down(md) {
		--bs-breadcrumb-padding-y: #{rem(12)};
		--bs-breadcrumb-font-size: #{rem(14)};
	}
	&-item {
		display: flex;
		align-items: center;
		a {
			font-weight: 400;
			font-style: italic;
			line-height: 1.25;
			color: $gray-600;
			&:hover {
				color: $accent;
			}
		}
		&.active {
		}
		& + & {
			&:before {
				width: rem(20);
				height: rem(20);
			}
		}
	}
}

h1 {
	@include media-breakpoint-down(sm) {
		font-size: rem(24);
	}
}

.main-page {
	.page-head {
		margin-bottom: rem(18);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(36);
		}
	}
}

.badge {
	display: inline-flex;
	align-items: center;
	line-height: 1.25;
	white-space: normal;
	&-primary {
		background-color: $primary;
	}
	&-purple {
		background-color: $purple;
	}
	&-warning {
		background-color: $warning;
	}
	&-success {
		background-color: $success;
	}
	&-secondary {
		background-color: $secondary;
	}
	svg {
		flex: 0 0 auto;
		margin-right: rem(6);
	}
}

.container-fluid {
	max-width: rem(1512);
	margin-left: 0;
}

.daterangepicker {
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
	border: 1px solid $gray-200;
	border-radius: rem(12);
	font-size: rem(12);
	font-family: var(--bs-body-font-family);
	font-weight: 400;
	width: auto;
	.calendar-table {
		th {
			border: none;
		}
		td {
			padding: 3px;
			border: none;
			line-height: rem(24);
			min-height: rem(30);
			min-width: rem(30);
			width: rem(30);
			height: rem(30);
			&.active {
				position: relative;
				background-color: rgba(70, 124, 244, 0.36);
				z-index: 2;
				&::before {
					content: "";
					@include a-cent;
					background-color: $primary;
					position: absolute; 
					border-radius: 50%;
					width: rem(24);
					height: rem(24);
					z-index: -1;
				}
			}
			&.in-range {
				background-color: rgba(70, 124, 244, 0.36);
			}
			&.start-date {
				border-radius: rem(24) 0 0 rem(24);
			}
			&.end-date {
				border-radius: 0 rem(24) rem(24) 0;
			}
			&.start-date.end-date {
				border-radius: rem(24);
				background-color: transparent;
			}
			&.off {
				color: $secondary;
				&::before {
					display: none;
				}
				&.start-date {
					border-radius: 0;
					background-color: transparent;
				}
				&.in-range {
					background-color: transparent;
				}
			}
		}
		thead {
			th {
				min-width: rem(30);
				width: auto;
				&.month {
					font-family: "AkzidenzGroteskProExtended";
					font-size: rem(16);
					font-weight: 500;
					line-height: calc(20 / 16);
				}
			}
			tr {
				&:first-child {
					th {
						padding: 0;
						height: auto;
						min-height: unset;
						min-width: unset;
						line-height: calc(20 / 16);
					}
				}
				&:nth-child(2) {
					th {
						padding: 7px 3px;
						border: none;
						line-height: rem(24);
						min-height: rem(30);
						min-width: rem(30);
						width: rem(30);
						height: rem(30);
						font-weight: 400;
						border-bottom: 1px solid $gray-200;
						color: $secondary;
						&:nth-child(6),
						&:nth-child(7) {
							color: $danger;
						}
					}
				}
			}
		}
		.prev,
		.next {
			position: relative;
			span {
				@include a-cent;
				width: rem(20);
				height: rem(20);
				border: none;
				transform: none;
			}
		}
		.prev {
			span {
				left: 0;
				margin-left: 0;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.1792 15.9647C12.2307 15.9461 12.2772 15.9308 12.2825 15.9306C12.3158 15.9294 12.8824 15.3403 12.9196 15.2681C13.0153 15.0826 13.017 14.8178 12.9238 14.6313C12.9044 14.5925 11.8651 13.5361 10.6143 12.2838L8.3402 10.007L10.6256 7.71846C13.1588 5.18178 13.0004 5.36048 12.997 5.04288C12.9946 4.8188 12.9336 4.71705 12.6079 4.39373C12.2196 4.00811 11.953 3.91783 11.6525 4.07022C11.5008 4.14711 6.0667 9.60044 6.00578 9.73686C5.9381 9.88838 5.93424 10.1388 5.99743 10.2762C6.06619 10.4258 11.5096 15.8704 11.6642 15.9441C11.8016 16.0098 12.029 16.0188 12.1792 15.9647Z' fill='%23F4B13E'/%3e%3c/svg%3e ");
				background-repeat: no-repeat;
				background-size: rem(20);
			}
		}
		.next {
			span {
				right: 0;
				margin-right: 0;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.7739 15.9647C7.72239 15.9461 7.67592 15.9308 7.67063 15.9306C7.63729 15.9294 7.07077 15.3403 7.03356 15.2681C6.93786 15.0826 6.9361 14.8178 7.02933 14.6313C7.04876 14.5925 8.08802 13.5361 9.33879 12.2838L11.6129 10.007L9.3275 7.71846C6.79429 5.18178 6.9527 5.36048 6.95614 5.04288C6.95857 4.8188 7.01956 4.71705 7.34518 4.39373C7.73352 4.00811 8.00013 3.91783 8.30067 4.07022C8.45229 4.14711 13.8864 9.60044 13.9473 9.73686C14.015 9.88838 14.0189 10.1388 13.9557 10.2762C13.8869 10.4258 8.44349 15.8704 8.28897 15.9441C8.15154 16.0098 7.92416 16.0188 7.7739 15.9647Z' fill='%23F4B13E'/%3e%3c/svg%3e ");
			}
		}
	}
	.drp-calendar {
		max-width: unset;
		&.left {
			padding: rem(12) 0 rem(12) rem(12);
			@media (min-width: 564px) {
				border-right: 1px solid $gray-200;
			}
			.calendar-table {
				padding-right: rem(12);
			}
		}
		&.right {
			padding: rem(12);
		}
	}

	.drp-buttons {
		padding: rem(12);
		border-top: 1px solid $gray-200;
	}
	.drp-selected {
		display: none;
	}
}


.table{
	width: 100%;
	td{
		height: 52px;
	}
	tr:not(:last-child) td{
		border-bottom: 1px solid #E2E2E2;
	}
}
.main-table--calendar{
	table{
		height: 0;
		th{
			width: rem(24px) !important;
			padding: 0 !important;
			min-width: 1px !important;
		}
		td{
			padding: 0 !important;
			&:not(:last-child){
				border-right: 1px dashed #E2E2E2;
			}
		}
	}
}
.td-inner{
	position: relative;
	height: rem(60);
}
td:not(:first-child) .sMainInfo__line{
	left: 50%;
}
.sMainInfo__line{
	height: rem(20);
	position: absolute;
	left: 0;
	width: calc(100% * var(--w1) + 1px * var(--w1));
	top: 50%;
	margin-top: rem(-10);
	&::after,
	&::before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg);
	}
	&::before{
		opacity: 0.36;
	}
	&::after{
		width: var(--w2);
	}
}

.panel-body{
	@include media-breakpoint-up(md) {
		padding: rem(48);
	}
	padding: 18px 12px;
	background-color: #fff;
}
.avatar-block{
	text-transform: uppercase;
	border-radius: 50%;
	background-color: #fff;
	background-color: $primary;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	&--sm
	{
		width: rem(36);
		height: rem(36);
	}
}

.row--xxl{
	@include media-breakpoint-up(xxl) {

		--bs-gutter-x: #{rem(48)}
	}
}

.file-item{
	display: flex;
	@include roww(5px);
	align-items: center;
	margin-bottom: rem(12);
	&__name{
		color: $body-color;
	}
	&__size{
		color: $secondary;
	}
	&__btn-delete{
		@include mt;
		cursor: pointer;
		color: $secondary;
		&:hover{
			color: $danger;
		}
		.icon{
			font-size: rem(20);
		}
	}
	.icon-file-list{
			font-size: rem(24);
	}
}

.upload-field{
	label{
		display: flex;
		align-items: center;
		width: 100%;
		cursor: pointer;
		
	}
	.icon{
		font-size: rem(24);
		margin-right: rem(6);
	}
	&__file-name{
		@include ellips;
		max-width: calc(100% - #{rem(30)});
	}
}

.plan-block{
	img{
		margin-bottom: rem(24);
	}
	&--mw{
		max-width: rem(300);
	}
	p.row{
		font-style: italic;
	}
}

.note-block{
	max-width: rem(648);
	margin-bottom: rem(26);
	&__input-wrap{
		position: relative;
		margin-bottom: rem(14);
		button{
			background: none !important;
			border: none !important;
			padding: 0;
			position: absolute;
			top: rem(16);
			right: rem(18);
			color: $secondary;
			.icon{
				font-size: rem(24);
			}
		}
	}
	&__head{
		margin-bottom: rem(24);
	}
	&__content{
		padding-left: calc(10px + #{rem(36)});
	}
	&__item{
		padding-bottom: rem(16);
		&:not(:last-child){
			border-bottom: 1px solid #E2E2E2;

			margin-bottom: rem(24);
		}
		strong{
			font-weight: 500;
		}
	}
}