@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-add {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-archive {
	font-size:math.div(48,10)*1rem;
	width: math.div(48,48)*1em;
}
.icon-attach {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-calendar {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-check2 {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-down {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-chevron-right {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-close {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-copy {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-delete {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-done {
	font-size:math.div(48,10)*1rem;
	width: math.div(48,48)*1em;
}
.icon-edit {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-file {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-file-list {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fist {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-gantt {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-info {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-info2 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-list {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-objects {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-pen {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-plus {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-settings {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-submit {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-tasks {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-telegram {
	font-size:math.div(13,10)*1rem;
	width: math.div(15,13)*1em;
}
.icon-tile {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-time {
	font-size:math.div(48,10)*1rem;
	width: math.div(48,48)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-warning {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-workers {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-write {
	font-size:math.div(20,10)*1rem;
	width: math.div(20,20)*1em;
}
