mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 headerBlock ds dfsdfdsfsd
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quo!
				.text-10 Lorem ipsum dolor sit amet consectetur adipisicing elit.
				.text-14 Lorem ipsum dolor sit amet.
			.row
						
	// end headerBlock