extends ../layout/main.pug

include ../blocks/sObject/_sObject.pug

//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sObjectDetails/_sObjectDetails.pug
include ../blocks/sMainInfo/_sMainInfo.pug

block variables
	- let  mainPage= 'main-page page-with-control-bar' 
	- let  bg= '01-3-house.jpg'

block title
	- let  title= 'Квартира №32'
	title= title
block pagecontent
	//- +mob-mnu()

	main
		+page-head({
			items: ['Объекты', 'ЖК видный', 'Дом №1', 'Подъезд №2', 'Этаж №2', 'Квартира №32'],
			edit: {},
			t: 'Квартира №32',
			badge: '33%',
			stat: ' ',
			date: ' ',
		})
		+sObjectDetails()
			+e.header
				+detailsWithToggle()
					mixin item(key, val, warning)
						+e.col.col-md-auto
							+e.item
								span!= key
								p(class=(warning ? 'text-danger' : ''))
									if warning
										+icon("warning")
									!= val
					+e.stats-row--without-span.row
						+item('Помещения', '1350 пом')
						+item('Площадь', 'S 3440 м²')
				+e.row.row
					.col-sm-6.col-lg-4.col-xl-3
						+workStatus('Стяжка пола', '22%', '#467CF4')
					.col-sm-6.col-lg-4.col-xl-3
						+workStatus('Натяжка потолка', '22%', '#1DBA6F')
					.col-sm-6.col-lg-4.col-xl-3
						+workStatus('Штукатурка стен', '22%', '#F4B13E')
					.col-sm-6.col-lg-4.col-xl-3
						+workStatus('Шпаклевка стен', '22%', '#9A52DF')
					.col-sm-6.col-lg-4.col-xl-3
						+workStatus('Затирка', '22%', '#E94410')
					.col-sm-6.col-lg-4.col-xl-3
						+workStatus('Плинтус', '22%', '#8B9298')
		+sMainInfo
			tr
				td(colspan='9').add-more
					+e.add-new(href='#')
						+icon('add')
						| Добавить этаж
			+firstLevel('1. Кухня', '-', '-', '-', '-', '1300 м²', 321, '/433', '67%', '11 ноя 23 – 11 фев 24')
					tr.inner-level
						td(colspan='9')
							div
								table
									tr
										td(colspan='9').add-more
											+e.add-new(href='#')
												+icon('add')
												| Добавить подъезд
									+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
									+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
														+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
			+firstLevel('2. Спальня', '-', '-', '-', '-', '1300 м²', 321, '/433', '67%', '11 ноя 23 – 11 фев 24')
					tr.inner-level
						td(colspan='9')
							div
								table
									tr
										td(colspan='9').add-more
											+e.add-new(href='#')
												+icon('add')
												| Добавить подъезд
									+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
									+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
														+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
			+firstLevel('3. Санузел', '-', '-', '-', '-', '1300 м²', 321, '/433', '67%', '11 ноя 23 – 11 фев 24')
					tr.inner-level
						td(colspan='9')
							div
								table
									tr
										td(colspan='9').add-more
											+e.add-new(href='#')
												+icon('add')
												| Добавить подъезд
									+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
									+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
														+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
			+firstLevel('4. Спальня', '-', '-', '-', '-', '1300 м²', 321, '/433', '67%', '11 ноя 23 – 11 фев 24')
					tr.inner-level
						td(colspan='9')
							div
								table
									tr
										td(colspan='9').add-more
											+e.add-new(href='#')
												+icon('add')
												| Добавить подъезд
									+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
									+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
														+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
	+bottomControlBar()
