extends ../layout/main.pug

include ../blocks/sObject/_sObject.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sPageInfo/_sPageInfo.pug
include ../blocks/sMainInfo/_sMainInfo.pug

block variables
	- let  mainPage= 'main-page page-with-control-bar' 
	- let  bg= '01-2-object.jpg'

block title
	- let  title= 'Объект 01-2'
	title= title
block pagecontent
	//- +mob-mnu()
	
	main
		+page-head({
			edit: {
				class: 'd-none d-md-block',
			},
			items: ['Объекты', 'ЖК видный']
		}).mb-0
		+sPageInfo
		+sMainInfo
			tr
				td(colspan='9').add-more
					+e.add-new(href='#')
						+icon('add')
						| Добавить дом
			+firstLevel('1. Дом №1', '3', '-', '130', '268', '1300 м²', 321, '/433', '67%', '11 ноя 23 – 11 фев 24')
					tr.inner-level
						td(colspan='9')
							div
								table
									tr
										td(colspan='9').add-more
											+e.add-new(href='#')
												+icon('add')
												| Добавить подъезд
									+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
									+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
										tr.inner-level
											td(colspan='9')
												div
													table
														tr
															td(colspan='9').add-more
																+e.add-new(href='#')
																	+icon('add')
																	| Добавить этаж
														+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
														+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
															tr.inner-level
																td(colspan='9')
																	div
																		table
																			tr
																				td(colspan='9').add-more
																					+e.add-new(href='#')
																						+icon('add')
																						| Добавить квартиру
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																			+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																				tr.inner-level
																					td(colspan='9')
																						div
																							table
																								tr
																									td(colspan='9').add-more
																										+e.add-new(href='#')
																											+icon('add')
																											| Добавить помещение
																								+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																								+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
			+firstLevel('2. Дом №2', '4', '-', '126', '280', '1291 м²', 81, '/441', '67%', '15 ноя 23 – 10 фев 24')
				tr.inner-level
					td(colspan='9')
						div
							table
								tr
									td(colspan='9').add-more
										+e.add-new(href='#')
											+icon('add')
											| Добавить подъезд
								+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
									tr.inner-level
										td(colspan='9')
											div
												table
													tr
														td(colspan='9').add-more
															+e.add-new(href='#')
																+icon('add')
																| Добавить этаж
													+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
								+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
									tr.inner-level
										td(colspan='9')
											div
												table
													tr
														td(colspan='9').add-more
															+e.add-new(href='#')
																+icon('add')
																| Добавить этаж
													+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
													+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
			+firstLevel('3. Дом №3', '4', '-', '126', '280', '1291 м²', 81, '/441', '67%', '15 ноя 23 – 10 фев 24')
				tr.inner-level
					td(colspan='9')
						div
							table
								tr
									td(colspan='9').add-more
										+e.add-new(href='#')
											+icon('add')
											| Добавить подъезд
								+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
									tr.inner-level
										td(colspan='9')
											div
												table
													tr
														td(colspan='9').add-more
															+e.add-new(href='#')
																+icon('add')
																| Добавить этаж
													+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
								+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
									tr.inner-level
										td(colspan='9')
											div
												table
													tr
														td(colspan='9').add-more
															+e.add-new(href='#')
																+icon('add')
																| Добавить этаж
													+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
													+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
			+firstLevel('4. Дом №4', '4', '-', '126', '280', '1291 м²', 81, '/441', '67%', '15 ноя 23 – 10 фев 24')
				tr.inner-level
					td(colspan='9')
						div
							table
								tr
									td(colspan='9').add-more
										+e.add-new(href='#')
											+icon('add')
											| Добавить подъезд
								+secondLevel('2.1. Подъезд №1', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
									tr.inner-level
										td(colspan='9')
											div
												table
													tr
														td(colspan='9').add-more
															+e.add-new(href='#')
																+icon('add')
																| Добавить этаж
													+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
								+secondLevel('2.1. Подъезд №2', '-', '12', '36', '104', '696 м²', '321', '/433', '59%', '15 ноя 23 – 10 фев 24')
									tr.inner-level
										td(colspan='9')
											div
												table
													tr
														td(colspan='9').add-more
															+e.add-new(href='#')
																+icon('add')
																| Добавить этаж
													+secondLevel('2.2.1. Этаж №1', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
													+secondLevel('2.2.1. Этаж №2', '-', '-', '16', '66', '436 м²', '81', '/441', '56%', '15 ноя 23 – 10 фев 24')
														tr.inner-level
															td(colspan='9')
																div
																	table
																		tr
																			td(colspan='9').add-more
																				+e.add-new(href='#')
																					+icon('add')
																					| Добавить квартиру
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																		+secondLevel('2.2.2.1. Квартира №27', '-', '-', '-', '120', '426 м²', '15', '/45', '19%', '15 ноя 23 – 10 фев 24')
																			tr.inner-level
																				td(colspan='9')
																					div
																						table
																							tr
																								td(colspan='9').add-more
																									+e.add-new(href='#')
																										+icon('add')
																										| Добавить помещение
																							+secondLevel('2.2.2.2.1. Кухня', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
																							+secondLevel('2.2.2.2.1. Санузел', '-', '-', '-', '-', '546 м²', '321', '/433', '90%', '15 ноя 23 – 10 фев 24', false)
	+bottomControlBar()