extends ../layout/main.pug

include ../blocks/sCreateObject/_sCreateObject.pug
 
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'createObject-page' 
	- let  bg= 'main.jpg'
	- let  createObject = true

block title
	- let  title= 'Создание объекта'
	title= title
block pagecontent
	//- +mob-mnu()
	main
		+sCreateObject({
			workers: true,
			status: true,
			startDate: true,
			endDate: true,
			author: true,
		})
			h2 1. Натяжка потолка
			+e.main-row.row
				.col-12
					+customInput('Введите название', 'text')
				.col-12
					+input('Введите описание объекта', 'textarea')
		.close-btn: +icon('close')
      



