extends ../layout/main.pug

include ../blocks/sCreateObject/_sCreateObject.pug
 
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'createObject-page' 
	- let  bg= 'main.jpg'
	- let  createObject = true

block title
	- let  title= 'Редактирование объекта'
	title= title
block pagecontent
	//- +mob-mnu()
	main
		+sCreateObject({
			status: {
				title: 'Статус проекта'
			},
			startDate: true,
			endDate: true,
			author: true,
			dateCreate: true,
			dateEdit: true,
			btns: true
		})
			h2 Редактирование объекта
			+b.form-wrap
				+e.main-row.row
					.col-12
						+customInput('Введите название', 'text')
					.col-12
						+input('Введите описание объекта', 'textarea')
		.close-btn: +icon('close')
      



