extends ../layout/main.pug

include ../blocks/sObject/_sObject.pug

//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sForm/_sForm.pug
//- include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sObjectDetails/_sObjectDetails.pug
include ../blocks/sMainInfo/_sMainInfo.pug

block variables
	- let  mainPage= '' 
	- let  bg= '01-3-house.jpg'

block title
	- let  title= 'Работы'
	title= title
block pagecontent
	//- +mob-mnu()

	main
		+page-head({
			items: ['Работы'],
			t: 'Работы',
			sample: false,
		})
		+sMainInfo6()
			+e.selects-wrap
				.row
					+e.col.col-md.col-xl-3
						+b.custom-select-wrap--third-type
							select(class="basic-select basic-select--js")
								option Все работы
								-for(let i = 1; i <= 10; i++)
									option!= i
					.col-auto
						+e.reset(href='#') Сбросить
			+mainTable3().--works
				table
					thead
						tr
							th Наименование работы
							th Поверхность
					tbody
						tr
							td(colspan='2').add-more
								+e.add-new(href='#')
									+icon('add')
									| Добавить работу
						mixin row(title, surface)
							tr
								td 
									+e.title
										a.h3(href='#')!= title
								td!=surface
						+row('Заливка пола', 'Пол')
						+row('Натяжка потолка', 'Стена')
						+row('Штукатурка стен', 'Потолок')
	//- +bottomControlBar()