mixin sPageInfo(data)
	// start sPageInfo
	+b.sPageInfo.section#sPageInfo&attributes(attributes)
		+e.continer.container-fluid
			+e.wrap.bg-wrap
				+img('img/service-1.jpg', 'bg').picture-bg
				+e.row.row
					.col-md
						h1 ЖК видный
					.col-md-auto
						+e.inner-wrap
							+taskStat
							+startDate
				+e.body-row.row
					.col-md 1
					+e.col.col-md-auto
						+e.inner-row.row
							.col-12
								+workStatus('Стяжка пола', '22%', '#467CF4')
							.col-12
								+workStatus('Натяжка потолка', '63%', '#1DBA6F').disabled
							.col-12
								+workStatus('Штукатурка стен', '90%', '#F4B13E').disabled
							.col-12
								+workStatus('Шпаклевание стен', '33%', '#9A52DF').disabled
							.col-12
								+workStatus('Затирка', '100%', '#E94410').disabled
							.col-12
								+workStatus('Плинтус', '3%', '#8B9298').disabled
	// end sPageInfo