mixin sPageInfo(data)
	// start sPageInfo
	+b.sPageInfo.section#sPageInfo&attributes(attributes)
		+e.continer.container-fluid
			+e.wrap.bg-wrap
				+img('img/service-1.jpg', 'bg').picture-bg
				+e.row.row
					+e.section-title-col.col-md
						.section-title
							h1 ЖК видный
							+selectStatus
					.col-md-auto
						+e.inner-wrap
							+taskStat
							+startDate
				+e.body-row.row
					.col-md
						+circularProgressBar(34)
						+detailsWithToggle().d-none.d-md-block
							mixin item(key, val, warning)
								+e.col.col-md-3.col-xl
									+e.item
										span!= key
										p(class=(warning ? 'text-danger' : ''))
											if warning
												+icon("warning")
											!= val
							+e.stats-row.row
								+item('Срок', '90дней')
								+item('До конца', '76 дней')
								+item('План', '11 фев 24')
								+item('Факт', `14 фев 24`, true)
								+item('График', '3 дн', true)
							+e.stats-row--without-span.row
								+item('Дома', '3 дом')
								+item('Подъезды', '12 под')
								+item('Квартиры', '728 кв')
								+item('Помещения', '1350 пом')
								+item('Площадь', 'S 3440 м²')
					+e.col.col-md-5.col-xxl-auto
						+e.inner-row.row
							.col-12
								+workStatus('Стяжка пола', '22%', '#467CF4')
							.col-12
								+workStatus('Натяжка потолка', '63%', '#1DBA6F').disabled
							.col-12
								+workStatus('Штукатурка стен', '90%', '#F4B13E').disabled
							.col-12
								+workStatus('Шпаклевание стен', '33%', '#9A52DF').disabled
							.col-12
								+workStatus('Затирка', '100%', '#E94410').disabled
							.col-12
								+workStatus('Плинтус', '3%', '#8B9298').disabled
			+detailsWithToggle().d-md-none
				mixin item(key, val, warning)
					+e.col.col-md
						+e.item
							span!= key
							p(class=(warning ? 'text-danger' : ''))
								if warning
									+icon("warning")
								!= val
				+e.stats-row.row
					+item('Срок', '90дней')
					+item('До конца', '76 дней')
					+item('План', '11 фев 24')
					+item('Факт', `14 фев 24`, true)
					+item('График', '3 дн', true)
				+e.stats-row--without-span.row
					+item('Дома', '3 дом')
					+item('Подъезды', '12 под')
					+item('Квартиры', '728 кв')
					+item('Помещения', '1350 пом')
					+item('Площадь', 'S 3440 м²')
	// end sPageInfo