// start .sObjectDetails
.sObjectDetails {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row {
		--bs-gutter-x: #{rem(12)};
		--bs-gutter-y: var(--bs-gutter-x);
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
		}
	}
	// .section-title {
	// }
	// &__col {
	// }
	// &__item {
	// }
	&__header {
		display: flex;
		flex-direction: column-reverse;
		gap: rem(36);
		@include media-breakpoint-up(md) {
			flex-direction: column;
		}
	}
	.work-status {
		max-width: 100%;
		color: $body-color;
	}
	.details-with-toggle {
		@include media-breakpoint-down(md) {
			margin-left: rem(-12);
			margin-right: rem(-12);
		}
		&__stats-row {
			--bs-gutter-x: #{rem(48)};
			
			@include media-breakpoint-up(md) {
				// margin-bottom: rem(12);
				// padding-bottom: rem(12);
				&:after {
					content: '';
					position: absolute;
					display: block;
					height: 1px;
					width: calc(100% - var(--bs-gutter-x));
					top: 0;
					left: calc(var(--bs-gutter-x) / 2);
					background-color: $gray-200;
				}
			}
		}
		&__col {
			min-width: auto;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sObjectDetails
