mixin sCreateObject(data)
	// start sCreateObject
	+b.sCreateObject#sCreateObject&attributes(attributes)
		+e.body
			+e.left-side
				block
			+e.right-side
				+e.row.row
					if data.status
						.col-12
							+e.item
								p!= data.status.title
								+selectStatus(false)
					if data.workers
						.col-12
							+e.item
								p Бригада
								+b.custom-select-wrap--simple
									select(class="basic-select basic-select--js" data-placeholder='Не выбрано')
										option
										option Бригада №1
										option Бригада №2
										option Бригада №3
										option Бригада №4
					if data.startDate
						.col-12
							+e.item
								p Дата начала
								+e.date.dateSingle-js
									+icon('calendar')
									span Указать дату начала
					if data.endDate
						.col-12
							+e.item
								p Дата завершения
								+e.date.dateSingle-js
									+icon('calendar')
									span Указать дату завершения
					if data.author
						.col-12
							+e.item
								p Автор
								+avatar(true, false)
					if data.dateCreate
						.col-12
							+e.item
								p Дата создания
								span 30 мар 23, 18:59
					if data.dateEdit
						.col-12
							+e.item
								p Последнее изменение
								span 30 мар 23, 18:59
					if data.btns
						.col-12
							+e.btn-row.row
								.col-auto
									+e.control-btn.btn.btn-light(href='#' data-bs-toggle="tooltip2" data-bs-placement="top" title="Дублировать")
										+icon('copy')
								.col-auto
									+e.control-btn--delete.btn.btn-light(href='#' data-bs-toggle="tooltip2" data-bs-placement="top" title="Удалить")
										+icon('delete')
		+e.footer
			+e.footer-row
				+e.btn.btn.btn-accent(href='#') Сохранить изменения
				+e.btn.btn.btn-light(href='#') Отмена
	// end sCreateObject